.a {
    border-style:solid;
    border-color:#6666FF;
    width:100%;
    height:100px;
    background:#6666FF
}

.b {
    margin:auto;
    text-align:center;
}


.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1 {
    color:#FFFFFF;
}

h2 {
    text-align:center;
}

img {
    border-style:solid;
    border-color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

body {
    margin:0%
}

button {
     
        position: relative;
        display: block;
        width: 200px;
        height: 36px;
        border-radius: 18px;
        background-color: #6666FF;
        border: solid 1px transparent;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        transition: all .1s ease-in-out;
        
      
}