

body {
    font-family: sans-serif;
}


#a {
    margin-right: 220px;
}

#physician1 {
    margin-left: -6%;
}


#datetime {
    margin-left: 50%;
    
   
}

#fname {
    margin-left: 50%;
    margin-top: -25%;
    
}

#lname {
    margin-left: 50%;
    
}

#email {
    margin-left: 50%;
    
}

#b {
    margin-left: 38%;
}


    


